<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Configuration" version="4.0.1" targetFramework="net461" />
  <package id="Baseclass.Contrib.SpecFlow.Selenium.NUnit" version="1.3.1" targetFramework="net461" />
  <package id="Clix.QA.Selenium" version="2.0.17" targetFramework="net461" />
  <package id="Clix.Utilities" version="2.0.17" targetFramework="net461" />
  <package id="Enigmatry.Selenium.Tools" version="1.0.54.57" targetFramework="net461" />
  <package id="Equip" version="0.4.130" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.3.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NSpectator.Selenium" version="0.9.9" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.38" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net461" />
  <package id="Selenium.Helper" version="1.0.1" targetFramework="net461" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.Equip" version="0.4.130" targetFramework="net461" />
  <package id="Selenium.WebDriver.Extensions.Core" version="1.7.485" targetFramework="net461" />
  <package id="Selenium.WebDriver.Extensions.JQuery" version="1.7.485" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.Mono" version="2.45.0" targetFramework="net461" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.12.0" targetFramework="net461" />
  <package id="Selenium-Webdriver-CascadeCommands" version="1.1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Validation" version="2.4.18" targetFramework="net461" />
</packages>